#button-satu {
  color: white;
  justify-content: center;
  position: sticky;
  align-items: center;
  margin-top: 100px;
  background-color: blue;
  width: 150px;
  height: 30px;
  border: 5px solid black;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#button-satu:hover {
  background-color: red;
}

div {
  justify-content: center;
  align-items: center;

}

.column {
  background-color: orange;
  border: 5px solid black;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}